@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <div class="logo">
            <a href="/home">
                <img src="parkin_white.png" alt="Logo" />
            </a>
        </div>
        <div class="header-links">
            <a href="/home">Home</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            <div class="language-dropdown">
                <a href="#" class="dropbtn">Language</a>
                <div class="language-dropdown-content">
                    <a href="#"><img src="am.png" alt="Armenian"> AM</a>
                    <a href="#"><img src="en.png" alt="English"> EN</a>
                    <a href="#"><img src="fr.png" alt="French"> FR</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        @Body
    </main>
</div>





