@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <div class="logo">
            <a href="/">
                <img src="parkin_white.png" alt="Logo" />
            </a>
        </div>
        <div class="header-links">
            <a href="/">Home</a>
            <a href="/solutions">Solutions</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
            <a href="/signin">Sign in</a>
            <a href="/signup" class="signup-link">Sign up</a>
        </div>
    </header>
    <main>
        <div class="center-text">
            PARK YOUR CAR <br />
            <div class="easier-line">
                <span class="easier">EASIER</span><span class="than-before">THAN BEFORE</span>
            </div>
        </div>
        @Body
    </main>
</div>
