@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <div class="logo">
            <a href="/">
                <img src="parkin_white.png" alt="Logo" />
            </a>
        </div>
        <div class="header-links">
            <a href="/">Home</a>
            <a href="/solutions">Solutions</a>
            <a href="/contact">Contact</a>
            <a href="/faq">FAQ</a>
            <a href="/signin">Sign in</a>
            <a href="/signup" class="signup-link">Sign up</a>
        </div>
    </header>
    <main>

        <div class="signin-container">


            @Body
        </div>
    </main>
</div>
