body {
    color: white;
}

.text-white {
    color: white;
}

.qr-code {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
}

.account-container {
    display: flex;
    flex-direction: column;
}

.user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.user-info {
    flex: 1;
    margin-left: 195px; /* Add margin-left to make it symmetric with the logo */
}

.qr-code-container {
    margin-left: 20px;
    margin-right: 190px; /* Add margin-right to make it symmetric */
}

.car-details-form {
    margin-top: 20px;
}

    .car-details-form .form-group .form-control {
        width: 100px !important; /* Set a very small fixed width for the input fields */
    }
.avatar {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px; /* Add some space between the image and the text */
    vertical-align: middle; /* Align the image vertically with the text */
}
.icon {
    width: 16px; /* Adjust the width as needed */
    height: 16px; /* Adjust the height as needed */
    margin-right: 5px; /* Add some space between the icon and the text */
    vertical-align: middle; /* Align the icon vertically with the text */
}

.form-group input,
.form-group select {
    width: 100px; /* Change the width to 100% */
}

.btn-green {
    background-color: #56b735; /* Green color */
    color: white;
    
}
.qrrr{
    width:250px;
    text-align:center;
}