.scrollable-picker-container {
    display: flex;
    justify-content: space-between;
}

.scrollable-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 300px; /* Increase the height to make the scrollbar longer */
    width: 100px;
    margin: 10px;
    scrollbar-width: thin; /* For Firefox */
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    position: relative;
    background-color: #333; /* Background color for the picker */
    color: white; /* Text color white */
}

    /* Webkit browsers (Chrome, Safari) */
    .scrollable-picker::-webkit-scrollbar {
        width: 8px; /* Set the width of the scrollbar */
    }

    .scrollable-picker::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners for the track */
    }

    .scrollable-picker::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
    }

        .scrollable-picker::-webkit-scrollbar-thumb:hover {
            background: #555; /* Color of the scrollbar thumb on hover */
        }

/* Firefox */
.scrollable-picker {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

    .scrollable-picker div {
        padding: 10px;
        text-align: center;
        cursor: pointer;
        transition: color 0.3s ease, opacity 0.3s ease;
    }

        .scrollable-picker div:hover {
            background-color: #555; /* Background color on hover */
        }

        .scrollable-picker div.selected {
            font-weight: bold;
            background-color: #007bff; /* Background color for selected item */
            color: white; /* Text color for selected item */
        }
